body>header {
  background-color: skyblue;
}
header>h1 {
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: green;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
ul li {
  border-right: 1px solid black;
}
ul>li:first-child {
  border-left: 1px solid black;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}
main>div {
  background-color: red;
}
.firstGrid {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "descriptive banner";
  margin-bottom: 1em;
  border-collapse: separate;
}  
.grid {
  display:grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: auto;
  justify-content: center;
}
.techImage {
  background-color:violet;
}
.descriptiveText {
  background-color:blue;
  grid-area: descriptive;
  margin-right: 1em;
}
.supplementalText {
  background-color:brown;
}
.banner {
  background-color:yellow;
  grid-area: banner;
}
